@function px2rem($px) {
  $rem: 37.5px;
  @return ($px / $rem) + rem;
}

.clearfix:after {
  content: '';
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

.scale-1px {
  position: relative;
  border: none;
}

.scale-1px:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0,0;
  transform-origin: 0,0;
}

// 省略号样式
.one-line {
  overflow: hidden;
  text-overflow: ellipsis; // ...的方式
  white-space: nowrap; // 强制不换行
}

.two-line {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}